*{
	margin: 0;
	padding: 0;
}

html {
	background: #fff;
	color: #000;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}


@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensans/opensans.eot");
	src: local('O'),
	url("../fonts/opensans/opensans.eot?") format("embedded-opentype"),
	url("../fonts/opensans/opensans.woff") format("woff"),
	url("../fonts/opensans/opensans.woff2") format("woff2"),
	url("../fonts/opensans/opensans.ttf") format("truetype"),
	url("../fonts/opensans/opensans.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensans/opensansbold.eot");
	src: local('O'),
	url("../fonts/opensans/opensansbold.eot?") format("embedded-opentype"),
	url("../fonts/opensans/opensansbold.woff") format("woff"),
	url("../fonts/opensans/opensansbold.woff2") format("woff2"),
	url("../fonts/opensans/opensansbold.ttf") format("truetype"),
	url("../fonts/opensans/opensansbold.svg") format("svg");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans/ptsans.eot");
	src: local('O'),
	url("../fonts/ptsans/ptsans.eot?") format("embedded-opentype"),
	url("../fonts/ptsans/ptsans.woff") format("woff"),
	url("../fonts/ptsans/ptsans.woff2") format("woff2"),
	url("../fonts/ptsans/ptsans.ttf") format("truetype"),
	url("../fonts/ptsans/ptsans.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans/ptsansbold.eot");
	src: local('O'),
	url("../fonts/ptsans/ptsansbold.eot?") format("embedded-opentype"),
	url("../fonts/ptsans/ptsansbold.woff") format("woff"),
	url("../fonts/ptsans/ptsansbold.woff2") format("woff2"),
	url("../fonts/ptsans/ptsansbold.ttf") format("truetype"),
	url("../fonts/ptsans/ptsansbold.svg") format("svg");
	font-weight: bold;
	font-style: normal;
}

/*@font-face {*/
	/*font-family: 'Glyphicons Halflings';*/
	/*src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot');*/
	/*src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),*/
	/*url('../bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'),*/
	/*url('../bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),*/
	/*url('../bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),*/
	/*url('../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');*/
/*}*/

/*@font-face {*/
	/*font-family: 'FontAwesome';*/
	/*src: url('../bootstrap/fonts/fontawesome-webfont.eot');*/
	/*src: url('../bootstrap/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),*/
	/*url('../bootstrap/fonts/fontawesome-webfont.woff2') format('woff2'),*/
	/*url('../bootstrap/fonts/fontawesome-webfont.woff') format('woff'),*/
	/*url('../bootstrap/fonts/fontawesome-webfont.ttf') format('truetype'),*/
	/*url('../bootstrap/fonts/fontawesome-webfont.svg') format('svg');*/
/*}*/


a img {
	border: none;
	outline: none !important;
}
a{
	outline: none !important;  /* убирает обводку у кнопок и ссылок */
}

a:hover, a:active {
	outline: 0;
}

.image_hover {
	position: absolute;
}
.image_upper {
	position: relative;
}
.image_upper:hover {
	opacity: 0;
}

/* для iphone - убирает автоматическое откругление уголов */
input[type="text"],input[type="password"], textarea{
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-khtml-border-radius: 0 !important;
	-webkit-appearance: none;
	line-height: inherit;
}

input[type="radio"] {
	-webkit-appearance: radio;
}