* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin-bottom: 170px !important;
    color: #333333;
    background-color: #fff;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans/opensans.eot");
    src: local('O'),
    url("../fonts/opensans/opensans.eot?") format("embedded-opentype"),
    url("../fonts/opensans/opensans.woff") format("woff"),
    url("../fonts/opensans/opensans.woff2") format("woff2"),
    url("../fonts/opensans/opensans.ttf") format("truetype"),
    url("../fonts/opensans/opensans.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans/opensansbold.eot");
    src: local('O'),
    url("../fonts/opensans/opensansbold.eot?") format("embedded-opentype"),
    url("../fonts/opensans/opensansbold.woff") format("woff"),
    url("../fonts/opensans/opensansbold.woff2") format("woff2"),
    url("../fonts/opensans/opensansbold.ttf") format("truetype"),
    url("../fonts/opensans/opensansbold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans/opensanssemibold.eot");
    src: local('O'),
    url("../fonts/opensans/opensanssemibold.eot?") format("embedded-opentype"),
    url("../fonts/opensans/opensanssemibold.woff") format("woff"),
    url("../fonts/opensans/opensanssemibold.woff2") format("woff2"),
    url("../fonts/opensans/opensanssemibold.ttf") format("truetype"),
    url("../fonts/opensans/opensanssemibold.svg") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans/ptsans.eot");
    src: local('O'),
    url("../fonts/ptsans/ptsans.eot?") format("embedded-opentype"),
    url("../fonts/ptsans/ptsans.woff") format("woff"),
    url("../fonts/ptsans/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans/ptsans.ttf") format("truetype"),
    url("../fonts/ptsans/ptsans.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans/ptsansbold.eot");
    src: local('O'),
    url("../fonts/ptsans/ptsansbold.eot?") format("embedded-opentype"),
    url("../fonts/ptsans/ptsansbold.woff") format("woff"),
    url("../fonts/ptsans/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsans/ptsansbold.ttf") format("truetype"),
    url("../fonts/ptsans/ptsansbold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}

/*@font-face {*/
/*font-family: 'Glyphicons Halflings';*/
/*src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot');*/
/*src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');*/
/*}*/

/*@font-face {*/
/*font-family: 'FontAwesome';*/
/*src: url('../bootstrap/fonts/fontawesome-webfont.eot');*/
/*src: url('../bootstrap/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),*/
/*url('../bootstrap/fonts/fontawesome-webfont.woff2') format('woff2'),*/
/*url('../bootstrap/fonts/fontawesome-webfont.woff') format('woff'),*/
/*url('../bootstrap/fonts/fontawesome-webfont.ttf') format('truetype'),*/
/*url('../bootstrap/fonts/fontawesome-webfont.svg') format('svg');*/
/*}*/

a img {
    border: none;
    outline: none !important;
}

a {
    outline: none !important; /* убирает обводку у кнопок и ссылок */
}

a:hover, a:active {
    outline: 0;
}

.image_hover {
    position: absolute;
}

.image_upper {
    position: relative;
}

.image_upper:hover {
    opacity: 0;
}

/* для iphone - убирает автоматическое откругление уголов */
input[type="text"], input[type="password"], textarea {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -khtml-border-radius: 0 !important;
    -webkit-appearance: none;
    line-height: inherit;
}

input[type="radio"] {
    -webkit-appearance: radio;
}

h2 {
    font-size: 28px;
}

.l-container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.l-container:before, .l-container:after {
    display: table;
    content: ' ';
    clear: both;
}

/*header*/

header {
    position: relative;
    z-index: 999;
    font-family: "PT Sans", sans-serif;
}

.l-top-panel {
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    background: #20394f;
}

.b-top-panel {
    float: right;
}

.b-top-panel__address, .b-top-panel__phone {
    float: left;
}

.b-top-panel__address {
    margin-top: 7px;
    line-height: 1.2;
    font-size: 14px;
}

.b-top-panel__phone {
    padding: 0 10px 0 50px;
    font-size: 18px;
}

.l-main-header {
    height: 60px;
    line-height: 57px;
    background: rgba(255, 255, 255, 0.8);
}

.l-base-header {
    border-bottom: 1px solid #dadada;
}

.b-logo {
    float: left;
}

.b-logo__icon {
    width: 100%;
    max-width: 221px;
}

.b-logo__icon {
    padding-top: 4px;
}

.l-main-menu {
    float: right;
}

.b-main-menu__item {
    float: left;
    list-style-type: none;
}

.b-main-menu__link {
    position: relative;
    display: inline-block;
    padding: 3px 10px 0;
    text-decoration: none;
    font-size: 17px;
    color: #34495e;
}

.b-main-menu__link:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.b-main-menu__link:hover:after {
    width: 100%;
    background: #e67e22;
}

.b-main-menu__link:hover {
    text-decoration: none;
    color: #e67e22;
}

.b-main-menu__link--active {
    color: #e67e22;
}

/*.b-main-menu__link--active:after {*/
/*content: '';*/
/*display: block;*/
/*position: absolute;*/
/*right: 0;*/
/*bottom: 0;*/
/*height: 3px;*/
/*width: 100%;*/
/*background: #e67e22;*/
/*}*/

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.b-main-menu a:focus {
    text-decoration: none;
    color: #e67e22;
}

/*footer*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 170px;
    padding: 35px 0 15px;
    font-family: "PT Sans", sans-serif;
    color: #ffffff;
    background: #20394f;
}

.l-menu-footer {
    float: left;
}

.l-contact-footer {
    float: right;
}

.b-menu-footer__item {
    display: inline-block;
    padding-right: 15px;
    font-size: 17px;
    list-style: none;
}

.b-menu-footer__link {
    text-decoration: none;
    color: #ffffff;
}

.b-menu-footer__link:hover {
    text-decoration: none;
    color: #ffffff;
}

.b-address-footer {
    float: left;
}

.b-phone-footer {
    float: right;
    font-size: 17px;
}

.b-address-footer {
    margin: 0 100px 0 0;
    font-size: 15px;
}

.b-copyright {
    width: 100%;
    padding-top: 25px;
    font-size: 12px;
}

/*main page*/

.b-top-block {
    position: relative;
    top: -60px;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    font-family: "PT Sans", sans-serif;
    background: url("../image/base/main-bg.png") no-repeat;
}

.l-top-block-title {
    position: relative;
    height: 490px;
}

.b-top-block-title {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
}

.b-top-block-title__title {
    font-size: 72px;
    font-weight: bold;
}

.b-top-block-title__subtitle {
    font-size: 32px;
    margin: 0;
}

.l-variety-services {
    width: 100%;
    margin: auto;
}

.b-variety-services {
    color: #34495e;
}

.l-variety-services__item {
    float: left;
    width: 16.6666667%;
    margin-bottom: 40px;
}

.b-variety-services__item {
    position: relative;
    width: 174px;
    margin: auto;
}

.b-variety-services__icon {
    border: 13px solid rgba(52, 73, 94, 0.55);
    width: 174px;
    height: 174px;
    margin: auto;
    background: #ffffff;
}

.b-variety-services__title {
    margin: 5px 0 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #34495e;
}

.b-variety-services__link {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

.b-variety-services__link:hover {
    text-decoration: none;
}

/* services icon */

.b-offset-icon {
    background: white url("../image/base/ofset-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-offset-link:hover .b-offset-icon {
    background: #ffffff url("../image/base/ofset-icon-hover.png") no-repeat center;
}

.b-digital-icon {
    background: white url("../image/base/digital-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-digital-link:hover .b-digital-icon {
    background: #ffffff url("../image/base/digital-icon-hover.png") no-repeat center;
}

.b-risography-icon {
    background: white url("../image/base/risography-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-risography-link:hover .b-risography-icon {
    background: #ffffff url("../image/base/risography-icon-hover.png") no-repeat center;
}

.b-binding-icon {
    background: white url("../image/base/binding-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-binding-link:hover .b-binding-icon {
    background: #ffffff url("../image/base/binding-icon-hover.png") no-repeat center;
}

.b-stamping-icon {
    background: white url("../image/base/stamping-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-stamping-link:hover .b-stamping-icon {
    background: #ffffff url("../image/base/stamping-icon-hover.png") no-repeat center;
}

.b-booklet-icon {
    background: white url("../image/base/booklet-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-booklet-link:hover .b-booklet-icon {
    background: #ffffff url("../image/base/booklet-icon-hover.png") no-repeat center;
}

.b-leaflets-icon {
    background: white url("../image/base/leaflets-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-leaflets-link:hover .b-leaflets-icon {
    background: #ffffff url("../image/base/leaflets-icon-hover.png") no-repeat center;
}

.b-forms-icon {
    background: white url("../image/base/forms-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-forms-link:hover .b-forms-icon {
    background: #ffffff url("../image/base/forms-icon-hover.png") no-repeat center;
}

.b-book-icon {
    background: white url("../image/base/book-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-book-link:hover .b-book-icon {
    background: #ffffff url("../image/base/book-icon-hover.png") no-repeat center;
}

.b-catalog-icon {
    background: white url("../image/base/catalog-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-catalog-link:hover .b-catalog-icon {
    background: #ffffff url("../image/base/catalog-icon-hover.png") no-repeat center;
}

.b-calendar-icon {
    background: white url("../image/base/calendar-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-calendar-link:hover .b-calendar-icon {
    background: #ffffff url("../image/base/calendar-icon-hover.png") no-repeat center;
}

.b-cutaway-icon {
    background: white url("../image/base/cutaway-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-cutaway-link:hover .b-cutaway-icon {
    background: #ffffff url("../image/base/cutaway-icon-hover.png") no-repeat center;
}

/* end services icon */

.l-button-all-services {
    margin: auto;
}

.b-button-base {
    display: block;
    width: 100%;
    max-width: 250px;
    height: 54px;
    line-height: 52px;
    margin: auto;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background: #ff790f;
    background: linear-gradient(#ffa92f, #ff770c);
    background: linear-gradient(#ffa92f, #ff770c);
    background: linear-gradient(#ffa92f, #ff770c);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.b-button-base:hover {
    text-decoration: none;
    color: #ffffff;
    background: #F89306;
    background: linear-gradient(#ffb52d, #ff790f);
    background: linear-gradient(#ffb52d, #ff790f);
    background: linear-gradient(#ffb52d, #ff790f);
}

.b-button-base:focus {
    text-decoration: none;
    color: #ffffff;
}

/*advantages-block*/

.b-advantages-block {
    width: 100%;
    background: url("../image/base/advantages-bg.png") no-repeat center top;
}

.b-subtitle-main {
    margin: 0;
    padding: 70px 0 75px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    text-align: center;
    color: #34495e;
}

.b-advantages-content__item {
    float: left;
    width: 25%;
    padding: 0 10px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.b-advantages-content__title {
    margin: 20px auto 15px;
    font-size: 18px;
    font-weight: 500;
    color: #34495e;
}

.b-advantages-content__text {
    font-size: 14px;
    color: #161616;
}

.b-advantages-production {
    width: 43px;
    margin-bottom: -2px;
}

.b-advantages-quality {
    width: 41px;
}

.b-advantages-shield {
    width: 38px;
    margin-top: -2px;
}

.b-advantages-range {
    width: 57px;
    margin-bottom: -3px;
}

.b-delimiter {
    width: 122px;
    height: 2px;
    margin: 30px auto 60px;
    background: #34495e;
}

.b-advantages-about {
    margin-bottom: 70px;
    font-size: 16px;
    color: #161616;
}

.l-work-carousel {
    padding-bottom: 80px;
}

.b-work-carousel {
    position: relative;
    padding: 0 40px;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 40%;
    width: 30px;
    height: 57px;
    background: url("../image/base/arrows.png") no-repeat;
}

.owl-prev {
    left: 0;
    background-position: left;
}

.owl-next {
    right: 0;
    background-position: right;
}

/*services page*/

.l-breadcrumbs {
    color: #918f8f;
}

* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin-bottom: 170px !important;
    color: #333333;
    background-color: #fff;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans/opensans.eot");
    src: local('O'),
    url("../fonts/opensans/opensans.eot?") format("embedded-opentype"),
    url("../fonts/opensans/opensans.woff") format("woff"),
    url("../fonts/opensans/opensans.woff2") format("woff2"),
    url("../fonts/opensans/opensans.ttf") format("truetype"),
    url("../fonts/opensans/opensans.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans/opensansbold.eot");
    src: local('O'),
    url("../fonts/opensans/opensansbold.eot?") format("embedded-opentype"),
    url("../fonts/opensans/opensansbold.woff") format("woff"),
    url("../fonts/opensans/opensansbold.woff2") format("woff2"),
    url("../fonts/opensans/opensansbold.ttf") format("truetype"),
    url("../fonts/opensans/opensansbold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans/opensanssemibold.eot");
    src: local('O'),
    url("../fonts/opensans/opensanssemibold.eot?") format("embedded-opentype"),
    url("../fonts/opensans/opensanssemibold.woff") format("woff"),
    url("../fonts/opensans/opensanssemibold.woff2") format("woff2"),
    url("../fonts/opensans/opensanssemibold.ttf") format("truetype"),
    url("../fonts/opensans/opensanssemibold.svg") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans/ptsans.eot");
    src: local('O'),
    url("../fonts/ptsans/ptsans.eot?") format("embedded-opentype"),
    url("../fonts/ptsans/ptsans.woff") format("woff"),
    url("../fonts/ptsans/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans/ptsans.ttf") format("truetype"),
    url("../fonts/ptsans/ptsans.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans/ptsansbold.eot");
    src: local('O'),
    url("../fonts/ptsans/ptsansbold.eot?") format("embedded-opentype"),
    url("../fonts/ptsans/ptsansbold.woff") format("woff"),
    url("../fonts/ptsans/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsans/ptsansbold.ttf") format("truetype"),
    url("../fonts/ptsans/ptsansbold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}

/*@font-face {*/
/*font-family: 'Glyphicons Halflings';*/
/*src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot');*/
/*src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');*/
/*}*/

/*@font-face {*/
/*font-family: 'FontAwesome';*/
/*src: url('../bootstrap/fonts/fontawesome-webfont.eot');*/
/*src: url('../bootstrap/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),*/
/*url('../bootstrap/fonts/fontawesome-webfont.woff2') format('woff2'),*/
/*url('../bootstrap/fonts/fontawesome-webfont.woff') format('woff'),*/
/*url('../bootstrap/fonts/fontawesome-webfont.ttf') format('truetype'),*/
/*url('../bootstrap/fonts/fontawesome-webfont.svg') format('svg');*/
/*}*/

a img {
    border: none;
    outline: none !important;
}

a {
    outline: none !important; /* убирает обводку у кнопок и ссылок */
}

a:hover, a:active {
    outline: 0;
}

.image_hover {
    position: absolute;
}

.image_upper {
    position: relative;
}

.image_upper:hover {
    opacity: 0;
}

/* для iphone - убирает автоматическое откругление уголов */
input[type="text"], input[type="password"], textarea {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -khtml-border-radius: 0 !important;
    -webkit-appearance: none;
    line-height: inherit;
}

input[type="radio"] {
    -webkit-appearance: radio;
}

h2 {
    font-size: 28px;
}

.l-container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.l-container:before, .l-container:after {
    display: table;
    content: ' ';
    clear: both;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.b-main-menu a:focus {
    text-decoration: none;
    color: #e67e22;
}

/*header*/

header {
    position: relative;
    z-index: 999;
    font-family: "PT Sans", sans-serif;
}

.l-top-panel {
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    background: #20394f;
}

.b-top-panel {
    float: right;
}

.b-top-panel__address, .b-top-panel__phone {
    float: left;
}

.b-top-panel__address {
    margin-top: 7px;
    line-height: 1.2;
    font-size: 14px;
}

.b-top-panel__phone {
    padding: 0 10px 0 50px;
    font-size: 18px;
}

.l-main-header {
    height: 60px;
    line-height: 57px;
    background: rgba(255, 255, 255, 0.8);
}

.l-base-header{
    border-bottom: 1px solid #dadada;
}

.b-logo {
    float: left;
}

.b-logo__icon {
    width: 100%;
    max-width: 221px;
}

.b-logo__icon {
    padding-top: 4px;
}

.l-main-menu {
    float: right;
}

.b-main-menu__item {
    float: left;
    list-style-type: none;
}

.b-main-menu__link {
    position: relative;
    display: inline-block;
    padding: 3px 10px 0;
    text-decoration: none;
    font-size: 17px;
    color: #34495e;
}

.b-main-menu__link:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.b-main-menu__link:hover:after {
    width: 100%;
    background: #e67e22;
}

.b-main-menu__link:hover {
    text-decoration: none;
    color: #e67e22;
}

.b-main-menu__link--active {
    color: #e67e22;
}

/*.b-main-menu__link--active:after {*/
/*content: '';*/
/*display: block;*/
/*position: absolute;*/
/*right: 0;*/
/*bottom: 0;*/
/*height: 3px;*/
/*width: 100%;*/
/*background: #e67e22;*/
/*}*/

/*footer*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 170px;
    padding: 35px 0 15px;
    font-family: "PT Sans", sans-serif;
    color: #ffffff;
    background: #20394f;
}

.l-menu-footer {
    float: left;
}

.l-contact-footer {
    float: right;
}

.b-menu-footer__item {
    display: inline-block;
    padding-right: 15px;
    font-size: 17px;
    list-style: none;
}

.b-menu-footer__link {
    text-decoration: none;
    color: #ffffff;
}

.b-menu-footer__link:hover {
    text-decoration: none;
    color: #ffffff;
}

.b-address-footer {
    float: left;
}

.b-phone-footer {
    float: right;
    font-size: 17px;
}

.b-address-footer{
    margin: 0 100px 0 0;
    font-size: 15px;
}

.b-copyright{
    width: 100%;
    padding-top: 25px;
    font-size: 12px;
}


/*main page*/

.b-top-block {
    position: relative;
    top: -60px;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    font-family: "PT Sans", sans-serif;
    background: url("../image/base/main-bg.png") no-repeat;
}

.l-top-block-title {
    position: relative;
    height: 490px;
}

.b-top-block-title {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
}

.b-top-block-title__title {
    font-size: 72px;
    font-weight: bold;
}

.b-top-block-title__subtitle {
    font-size: 32px;
    margin: 0;
}

.l-variety-services {
    width: 100%;
    margin: auto;
}

.b-variety-services {
    color: #34495e;
}

.l-variety-services__item {
    float: left;
    width: 16.6666667%;
    margin-bottom: 40px;
}

.b-variety-services__item {
    position: relative;
    width: 174px;
    margin: auto;
}

.b-variety-services__icon {
    border: 13px solid rgba(52, 73, 94, 0.55);
    width: 174px;
    height: 174px;
    margin: auto;
    background: #ffffff;
}

.b-variety-services__title {
    margin: 5px 0 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #34495e;
}

.b-variety-services__link {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

.b-variety-services__link:hover {
    text-decoration: none;
}

/* services icon */

.b-offset-icon {
    background: white url("../image/base/ofset-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-offset-link:hover .b-offset-icon {
    background: #ffffff url("../image/base/ofset-icon-hover.png") no-repeat center;
}

.b-digital-icon {
    background: white url("../image/base/digital-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-digital-link:hover .b-digital-icon {
    background: #ffffff url("../image/base/digital-icon-hover.png") no-repeat center;
}

.b-risography-icon {
    background: white url("../image/base/risography-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-risography-link:hover .b-risography-icon {
    background: #ffffff url("../image/base/risography-icon-hover.png") no-repeat center;
}

.b-binding-icon {
    background: white url("../image/base/binding-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-binding-link:hover .b-binding-icon {
    background: #ffffff url("../image/base/binding-icon-hover.png") no-repeat center;
}

.b-stamping-icon {
    background: white url("../image/base/stamping-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-stamping-link:hover .b-stamping-icon {
    background: #ffffff url("../image/base/stamping-icon-hover.png") no-repeat center;
}

.b-booklet-icon {
    background: white url("../image/base/booklet-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-booklet-link:hover .b-booklet-icon {
    background: #ffffff url("../image/base/booklet-icon-hover.png") no-repeat center;
}

.b-leaflets-icon {
    background: white url("../image/base/leaflets-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-leaflets-link:hover .b-leaflets-icon {
    background: #ffffff url("../image/base/leaflets-icon-hover.png") no-repeat center;
}

.b-forms-icon {
    background: white url("../image/base/forms-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-forms-link:hover .b-forms-icon {
    background: #ffffff url("../image/base/forms-icon-hover.png") no-repeat center;
}

.b-book-icon {
    background: white url("../image/base/book-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-book-link:hover .b-book-icon {
    background: #ffffff url("../image/base/book-icon-hover.png") no-repeat center;
}

.b-catalog-icon {
    background: white url("../image/base/catalog-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-catalog-link:hover .b-catalog-icon {
    background: #ffffff url("../image/base/catalog-icon-hover.png") no-repeat center;
}

.b-calendar-icon {
    background: white url("../image/base/calendar-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-calendar-link:hover .b-calendar-icon {
    background: #ffffff url("../image/base/calendar-icon-hover.png") no-repeat center;
}

.b-cutaway-icon {
    background: white url("../image/base/cutaway-icon.png") no-repeat center;
    transition: background 0.7s ease;
}

.b-cutaway-link:hover .b-cutaway-icon {
    background: #ffffff url("../image/base/cutaway-icon-hover.png") no-repeat center;
}

/* end services icon */

.l-button-all-services {
    margin: auto;
}

.b-button-base {
    display: block;
    width: 100%;
    max-width: 250px;
    height: 54px;
    line-height: 52px;
    margin: auto;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background: #ff790f;
    background: linear-gradient(#ffa92f, #ff770c);
    background: linear-gradient(#ffa92f, #ff770c);
    background: linear-gradient(#ffa92f, #ff770c);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.b-button-base:hover {
    text-decoration: none;
    color: #ffffff;
    background: #F89306;
    background: linear-gradient(#ffb52d, #ff790f);
    background: linear-gradient(#ffb52d, #ff790f);
    background: linear-gradient(#ffb52d, #ff790f);
}

.b-button-base:focus {
    text-decoration: none;
    color: #ffffff;
}

/*advantages-block*/

.b-advantages-block {
    width: 100%;
    background: url("../image/base/advantages-bg.png") no-repeat center top;
}

.b-subtitle-main {
    margin: 0;
    padding: 70px 0 75px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    text-align: center;
    color: #34495e;
}

.b-advantages-content__item {
    float: left;
    width: 25%;
    padding: 0 10px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.b-advantages-content__title {
    margin: 20px auto 15px;
    font-size: 18px;
    font-weight: 500;
    color: #34495e;
}

.b-advantages-content__text {
    font-size: 14px;
    color: #161616;
}

.b-advantages-production {
    width: 43px;
    margin-bottom: -2px;
}

.b-advantages-quality {
    width: 41px;
}

.b-advantages-shield {
    width: 38px;
    margin-top: -2px;
}

.b-advantages-range {
    width: 57px;
    margin-bottom: -3px;
}

.b-delimiter {
    width: 122px;
    height: 2px;
    margin: 30px auto 60px;
    background: #34495e;
}

.b-advantages-about {
    margin-bottom: 70px;
    font-size: 16px;
    color: #161616;
}

.l-work-carousel {
    padding-bottom: 80px;
}

.b-work-carousel {
    position: relative;
    padding: 0 40px;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 40%;
    width: 30px;
    height: 57px;
    background: url("../image/base/arrows.png") no-repeat;
}

.owl-prev {
    left: 0;
    background-position: left;
}

.owl-next {
    right: 0;
    background-position: right;
}